@import './Style/reset.css';
@import './Style/font.css';
@import './Style/grid.css';
@import './Style/helper.css';

/* style */

body {
    font-family: 'inter';
}

a {
    text-decoration: none;
}

/* app */

.app-container {
    display: flex;
    justify-content: space-between;
}

.app-right {
    width: 82%;
}

/* header */

.header {
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1.2rem 1.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(.6rem);
}

.header-content {
    color: rgb(108, 115, 127);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header-search {} */

/* .header__search-icon {} */

.header-setting {
    display: flex;
    align-items: center;
}

.icon-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-badge {
    position: absolute;
    top: -.3rem;
    right: -.2rem;
    font-size: 1.2rem;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: red;
}

.header__search-icon,
.notification-icon,
.people-icon {
    cursor: pointer;
    font-size: 2.7rem !important;
}

.people-icon {
    margin: 0 3rem;
}

/* .header__avatar {} */

/* modal */

/* .modal-container {} */

.modal__name {
    color: #111927 !important;
    font-size: 1.7rem !important;
    font-family: 'jakart' !important;
    font-weight: 700 !important;
}

.modal-alert-parent {
    background-color: rgb(243, 244, 246) !important;
    padding: 1rem !important;
    margin-top: 2rem !important;
}

.modal__alert {
    color: rgb(108, 115, 127) !important;
    font-size: 1.2rem !important;
    font-family: 'inter' !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.modal-input-parent {
    margin-top: 2.5rem !important;
}

/* .modal__input {
    width: 100%;
    padding: 1.5rem 1rem;
    border: none;
    outline: none;
    border-radius: .8rem;
    border: solid .1rem rgb(229, 231, 235);
} */

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
}

/* panel admin */

.panel-admin {
    width: 18%;
    height: 100vh;
    top: 0;
    padding: 2rem;
    position: sticky;
    background-color: #1C2536;
}

.panel-devias {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.panel-logo-parent {
    width: 4rem;
    height: 4rem;
    padding: 0.4rem;
    border-radius: .8rem;
    border: .1rem solid #2F3746;
}

/* .panel-logo-parent>svg {} */

.panel-devias-info {
    margin-left: 1.5rem;
}

.panel__devias-name {
    font-weight: 700;
    color: #fff;
    font-family: 'jakart';
    padding-bottom: .5rem;
}

.panel__devias-desc {
    color: #9da4ae;
    font-size: 1.4rem;
    font-weight: 400;
}

/* .panel-menu {} */

.panel__item {
    display: flex;
    align-items: center;
    color: #9da4ae;
    padding: .6rem 1.2rem;
    margin-top: .6rem;
    border-radius: .8rem;
    transition: all 150ms ease-in;
}

.panel__item:hover {
    background-color: rgba(255, 255, 255, 0.04);
    transition: all 150ms ease-in;
}

/* .panel__item>svg {} */

.panel__item-txt {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

.panel__item--active .panel__item {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.04);
}

.panel__item--active .panel__item>svg {
    color: #6366F1;
}

/* concepts menu */

/* .concepts-container {} */

.concepts__menu-name {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0;
    color: #9da4ae;
}

/* .concepts-menu {} */

/* .concepts__item {} */

/* .concepts__item-txt {} */

/* responsive */

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 380px) {}